target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code & Extensions ###
.vscode/
.qodo/

### Logs & Runtime Outputs ###
*.log
hs_err_pid*
replay_pid*
resqmesh-settings.json
*.tmp

### OS files ###
Thumbs.db
.DS_Store

